---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <div class="date">
        Written on {{ post.date | date: "%B %e, %Y" }}
        {% if post.last_modified_at %}
        <br>Last modified on {{ post.last_modified_at | date: "%B %e, %Y" }}
        {% endif %}
      </div>
      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>


      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
